.mp-faq {
    margin-bottom: 160px;
    &__img {
        position: relative;
        background: #EDEFF7;
        border-radius: 15px;
        text-align: right;
        margin-bottom: 0;
        @include media-breakpoint-up(xl) {
            margin-left: 15px;
        }
        @include media-breakpoint-up(xxl) {
            margin-left: 25px;
        }
    }
    &__smile-1 {
        position: absolute;
        top:25px;
        right: 21px;
    }
    &__smile-2 {
        position: absolute;
        bottom:-60px;
        left:93px;
    }
}
