.mp-systems {

}
.mp-system-item {

}
.mp-system-item-checkbox {
    height: 16px;
    $form-checkbox: &;
    position: relative;
    font-weight: 400;
    padding-left: 36px;

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ #{$form-checkbox}__checkmark:after {
            display: block;
        }
    }
    &__checkmark {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: rgba(171, 175, 195, 0.5);
        border-radius: 2px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 0;
            width: 7px;
            height: 15px;
            border: solid $blue-color;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

    }

}
