.consultation-modal {
    &__close {
        right:21px;
        top:21px;
        &-icon {
            &--mobile {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
            &--desctop {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }
    &__content {
        @include media-breakpoint-up(lg) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-image: url("../images/unique-modal-cons-bg.png");
            background-repeat: no-repeat;
            background-position: 160% 50%;
            background-size: contain;
        }
        @include media-breakpoint-up(xl) {
            background-position: 148% 50%;
        }
    }
    &__form {
        margin-top: 35px;
        @include media-breakpoint-up(lg) {
            width: 62%;
        }
        @include media-breakpoint-up(xl) {
            width: 60%;
        }
    }
    &__footer {
        margin-top: 35px;
    }
}
