.select-system-modal-content {
    display: flex;
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        width: 220px;
        min-width: 220px;
        padding: 40px;
        background: #F0F1F6;
        border-radius: 10px;
    }
    &__right {
        padding-left: 25px;
    }
    &__text {
        margin-bottom: 40px;
    }
}
