.select-system-modal-content {
    @include media-breakpoint-down(md) {
        text-align: center;
    }
    @include media-breakpoint-up(md) {
        display: flex;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        width: 220px;
        min-width: 220px;
        padding: 40px;
        background: #F0F1F6;
        border-radius: 10px;
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__right {

        @include media-breakpoint-up(md) {
            padding-left: 25px;
        }
    }
    &__text {
        margin-bottom: 40px;
    }
}
