.unique-modal {
    &__title {
        font-size: 26px;
        margin-bottom: 25px;
        @include media-breakpoint-up(lg) {
            font-size: 36px;
        }
    }
    &__descr {
        color: #131313;
        font-size: 17px;
        font-weight: 500;
    }
    &__dialog {
        max-width: 952px;
    }
    &__content {
        border-radius: 30px;
        position: relative;
        border: none;
        padding: 60px 70px;
    }
 &__close {
     position: absolute;
     padding: 0;
     background: none;
     border: 0;
     border-radius:0;
     top:13px;
     right: 13px;
     svg {
         width: 38px;
     }
 }
}
