.contact-social {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 15px;
    display: flex;

    &__item {
        margin-right: 20px;
        @include media-breakpoint-up(lg) {
            margin-right: 15px;
        }
        @include media-breakpoint-up(xxl) {
            margin-right: 25px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: $blue-color;
        @include media-breakpoint-up(lg) {
            width: 36px;
            height: 36px;
        }
        @include media-breakpoint-up(xxl) {
            width: 49px;
            height: 49px;
        }
        svg {
            width: 24px;
        }
    }
}
