.contact-social {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 15px;
    display: flex;

    &__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        border-radius: 5px;
        background-color: $blue-color;
        svg {
            width: 24px;
        }
    }
}
