.u-input-group {
    border-radius: 5px;
    background-color: #F0F1F6;
    display: flex;
    position: relative;

    &--dark {
        background: #E3E5ED;
    }
    &__input {
        flex: 1;

        padding: 11px 14px;
        background-color: transparent;
        display: block;
        font-size: 17px;
        color: #ABAFC3;
        border: 1px solid  #F0F1F6;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left-width:0;

        &:focus {
            outline: none;
        }
        &::placeholder {
            font-size: 17px;
            color: #ABAFC3;
        }
        &--textarea {
            height: 140px;
        }
        &.is-invalid {
            border-color: red;
        }
    }
    &__icon {
        flex-direction: column;
        position: relative;
        width: 49px;
        height: 49px;
        min-width: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: $blue-color;
        &--textarea {


            height: 140px;
        }
    }
    &__svg {
        width: 24px;
        height: 24px;
        &--user {
            width: 24px;
            height: 24px;
        }
        &--phone {

        }
    }

}
