$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl:1440px,
) !default;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl:1430px,
) !default;
@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "variables";
@import "mixins/mixins";
//Components
@import "components/scaffoldings";
@import "components/preloader";
@import "components/contact-bl";
@import "components/social-list";
@import "components/page-heading";
//button
@import "components/button/button";
@import "components/button/upload-button";
//breadcrumbs
@import "components/breadcrumb-list";
//logo
@import "components/logo/logo-title";
//navigation
@import "components/navigation/main-nav";
//header
@import "components/header/page-header";
@import "components/header/header-panel";
@import "components/header/header-panel-banner";
//footer
@import "components/footer/page-footer";
@import "components/footer/footer-bt-nav";
@import "components/footer/footer-pay-cards";
//blocks
@import "components/blocks/block-title";

//modals
@import "components/modals/unique-modal";
@import "components/modals/consultation-modal";
@import "components/modals/what-system-check-modal";
@import "components/modals/what-system-check-list";
@import "components/modals/video-modal";
@import "components/modals/free-check-modal";
@import "components/modals/free-check-modal-list";
@import "components/modals/select-system-modal-content";
@import "components/modals/pay-check-modal";
@import "components/modals/pay-check-modal-list";
//Form
@import "components/form/unique-input";
@import "components/form/u-form-group";
@import "components/form/u-input-group";
@import "components/form/consultation-form";
@import "components/form/u-datepicker";


//Check-unique
@import "components/check-unique/check-unique-bl";
@import "components/check-unique/check-unique";
@import "components/check-unique/check-unique-indicator";
@import "components/check-unique/check-unique-descr";
@import "components/check-unique/check-systems";
@import "components/check-unique/check-unique-button";
@import "components/check-unique/upload-file";
@import "components/highlight";
//Banners

@import "components/banners/sidebar-banner";

//Main page
@import "components/main-page/mp-utp";
@import "components/main-page/mp-advantages";
@import "components/main-page/mp-why";
@import "components/main-page/mp-why-list";
@import "components/main-page/mp-process";
@import "components/main-page/mp-banner";
@import "components/main-page/mp-about";
@import "components/main-page/mp-about-list";
@import "components/main-page/mp-reviews";
@import "components/main-page/mp-reviews-list";
@import "components/main-page/mp-reviews-control";
@import "components/main-page/mp-faq";
@import "components/faq";

//About page
@import "components/about/about-utp";
@import "components/about/about-warranty";
@import "components/about/about-warranty-list";
@import "components/about/about-video";
@import "components/about/about-result";
@import "components/about/about-result-numbers";

//Price page
@import "components/price/price-page";
@import "components/price/price-block";
@import "components/price/price-list";
@import "components/price/price-list-item";

//Reviews Page
@import "components/reviews/reviews-filters";
@import "components/reviews/review-item";
@import "components/reviews/reviews-list";

//Contact page
@import "components/contact/contact-block";
@import "components/contact/contact-block-content";
@import "components/contact/contact-item";
@import "components/contact/contact-social";
@import "components/contact/contact-form";

//Report
@import "components/report/report-link";
@import "components/report/report-block";
@import "components/report/report-systems-list";
@import "components/report/report-item";
@import "components/report/report-item-system";
@import "components/report/report-item-descr";
@import "components/report/report-progress-bar";
@import "components/report/report-text-params";
@import "components/report/report-item-detail";
@import "components/report/report-item-detail-content";
@import "components/report/report-item-links";
@import "components/report/report--item-detail-text";
@import "components/report/report-item-another-system";
@import "components/report/report-link-download";

//repost
@import "components/repost/repost";

//rewrite
@import "components/rewrite/rewrite-text";

@import "components/unique-services/unique-service-list";
@import "components/unique-services/unique-service-checkbox";

//Article
@import "components/article/article-list";
@import "components/article/article-item";
@import "components/article/vk-subscribe";
