$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl:1440px,
) !default;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl:1430px,
) !default;
@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "variables";
//Components

@import "components/scaffoldings";
@import "components/contact-bl";
@import "components/social-list";
//button
@import "components/button/button";
@import "components/button/upload-button";
//logo
@import "components/logo/logo-title";
//navigation
@import "components/navigation/main-nav";
//header
@import "components/header/page-header";
@import "components/header/header-panel";
@import "components/header/header-panel-banner";
//blocks
@import "components/blocks/block-title";
//Main page
@import "components/main-page/mp-utp";
@import "components/main-page/mp-advantages";


//Check-unique
@import "components/check-unique/check-unique-bl";
@import "components/check-unique/check-unique";
@import "components/check-unique/check-unique-indicator";
@import "components/check-unique/check-unique-descr";
@import "components/check-unique/check-systems";
