$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl:1440px,
) !default;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl:1430px,
) !default;
@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "variables";
//Components
@import "components/scaffoldings";
@import "components/contact-bl";
@import "components/social-list";
//button
@import "components/button/button";
@import "components/button/upload-button";
//breadcrumbs
@import "components/breadcrumb-list";
//logo
@import "components/logo/logo-title";
//navigation
@import "components/navigation/main-nav";
//header
@import "components/header/page-header";
@import "components/header/header-panel";
@import "components/header/header-panel-banner";
//footer
@import "components/footer/page-footer";
@import "components/footer/footer-bt-nav";
@import "components/footer/footer-pay-cards";
//blocks
@import "components/blocks/block-title";

//modals
@import "components/modals/unique-modal";
@import "components/modals/consultation-modal";
@import "components/modals/what-system-check-modal";
@import "components/modals/what-system-check-list";
@import "components/modals/video-modal";

//Form
@import "components/form/unique-input";
@import "components/form/u-form-group";
@import "components/form/u-input-group";
@import "components/form/consultation-form";


//Check-unique
@import "components/check-unique/check-unique-bl";
@import "components/check-unique/check-unique";
@import "components/check-unique/check-unique-indicator";
@import "components/check-unique/check-unique-descr";
@import "components/check-unique/check-systems";

//Main page
@import "components/main-page/mp-utp";
@import "components/main-page/mp-advantages";
@import "components/main-page/mp-why";
@import "components/main-page/mp-why-list";
@import "components/main-page/mp-process";
@import "components/main-page/mp-banner";
@import "components/main-page/mp-about";
@import "components/main-page/mp-about-list";
@import "components/main-page/mp-reviews";
@import "components/main-page/mp-reviews-list";
@import "components/main-page/mp-reviews-control";
@import "components/main-page/mp-faq";
@import "components/faq";

//About page
@import "components/about/about-utp";
@import "components/about/about-warranty";
@import "components/about/about-warranty-list";
@import "components/about/about-video";
@import "components/about/about-result";
@import "components/about/about-result-numbers";


