@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'),
    url('../fonts/Raleway-Reqular/Raleway-Reqular.woff2') format('woff2'),
    url('../fonts/Raleway-Reqular/Raleway-Reqular.woff') format('woff'),
    url('../fonts/Raleway-Reqular/Raleway-Reqular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: local('Geometria Regular'), local('Geometria-Regular'),
    url('../fonts/Geometria-Regular/Geometria-Regular.woff2') format('woff2'),
    url('../fonts/Geometria-Regular/Geometria-Regular.woff') format('woff'),
    url('../fonts/Geometria-Regular/Geometria-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: local('Geometria Medium'), local('Geometria-Medium'),
    url('../fonts/Geometria-Medium/Geometria-Medium.woff2') format('woff2'),
    url('../fonts/Geometria-Medium/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria-Bold/Geometria-Bold.woff2') format('woff2'),
    url('../fonts/Geometria-Bold/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold/Geometria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

