.about-result {
    background: #F0F1F6;
    border-radius: 30px;
    padding: 35px;
    margin-bottom: 80px;
    @include media-breakpoint-up(lg) {
        padding: 60px;
        display: flex;
        margin-bottom: 100px;
    }
    &__main {
        @include media-breakpoint-up(lg) {
            width: 70%;
            padding-right: 15px;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        @include media-breakpoint-up(lg) {
            width: 30%;
        }
    }
    &__title {
        margin-bottom: 15px;
    }
    &__text {
        font-size: 17px;
        font-weight: 500;
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
}
