.about-utp {
    padding: 40px;
    background: #F0F1F6;
    border-radius: 30px;
    margin-bottom: 80px;
    @include media-breakpoint-up(md) {
        display: flex;
    }
    @include media-breakpoint-up(lg) {
        padding: 70px;
    }
    &__content {

        @include media-breakpoint-up(md) {
            width: 60%;
            padding-right: 40px;
        }
        @include media-breakpoint-up(lg) {
            padding-right: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 70px;
        }
        @include media-breakpoint-up(xxl) {
            padding-right: 100px;
        }
    }
    &__title {
        font-size: 26px;
        margin-bottom: 25px;
        @include media-breakpoint-up(lg) {
            font-size: 36px;
        }
    }
    &__text {
        font-weight: 700;
    }
    &__img-wrap {

        background: #FF9902;
        border-radius: 500px;
        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(md) {
            width: 40%;
            order: 1;
        }
    }
    &__img {
        overflow: hidden;
        margin-bottom: 0;

    }
}
