.header {
    display: flex;
    padding-bottom: 12px;
    border-bottom: 0.309901px solid #CDD3E4;
    justify-content: space-between;
    margin-bottom: 24px;
    &__left {
        display: flex;
        align-items: center;
    }
    &__descr {
        font-weight: 500;
        font-size: 8px;
        color: #ABAFC3;
    }
    &__phone {
        font-weight: 700;
        font-size: 11.1564px;
        margin-right: 11px;
    }
    &__link {
        font-weight: 700;
        font-size: 11.1564px;
        color: $blue-color;
    }
}
