body {
    color: #262626;
    font-family: $font-family-sans-serif;
}
.pdf-catalog{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 38px;
}
.page-title {
    text-align: center;
    font-weight: 700;
    font-size: 17.3544px;
    margin-bottom: 22px;
}
.highlight {
    &--red {
        color: red;
    }
}
