.report-information-list {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    margin-bottom: 15.8px;
    &__item {
        font-size: 8.67722px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__label {
        margin-bottom: 0;
        color: #ABAFC3;
    }
    &__value {

    }
}
