.button {
    padding: 19px 40px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: $blue-color;
    text-decoration: none;
    border-radius: 500px;
    &:hover, &:focus, &:active {
        color: #fff !important;
        background-color: $blue-color !important;
        text-decoration: none;
    }
    @include media-breakpoint-only(lg) {
        padding: 16px 20px;
        font-size: 15px;
    }
    &--transparent {
        background-color: transparent;
        border: 1px solid $blue-color;
        color: $blue-color;
        &:hover, &:focus {
            color: $blue-color;
            text-decoration: none;
        }
    }
    &--width-100 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    &--white {
        color: #fff;
        border-color: #fff;
        &:hover, &:focus {
            color: #fff;
        }
    }
    &__icon {
        margin-left: 6px;
        width: 10px;
        height: 10px;
    }
}
.btn-link {
    color: $blue-color;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    &:hover, &:focus {
        color: $blue-color;
    }
}
