.sidebar-nav {
    position: relative;
    border-right: none !important;
    height: 100%;
    &__link {
        color: #bdbdc7;

        &.is-active, &:hover {
            background-color: #6b51df;
            color: #fff;
        }

        &--border {
            position: relative;
            margin-bottom: 21px;
            &::after {
                content: "";
                position:absolute;
                bottom: -10px;
                background-color: #bdbdc7;
               width: 90%;
                height: 1px;
                left: 5%;
            }
        }
    }

}
