.page-heading {

    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__title {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
}
