.article-list {
    @include media-breakpoint-up(md) {
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
    }
    &__item {
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
            padding-left: 20px;
            padding-right: 20px;
            flex: 1 50%;
            max-width: 50%;
            width: 50%;
        }
    }
}
