.main-sidebar {
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    width: 17.1875rem;
    min-width: 17.1875rem;
    background-color: #343957;
    .el-menu {
        background-color: #343957;
    }

}
