.page-header {
    display: flex;
    width: 100%;
    z-index: 3;
    top: 0;
    position:fixed;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);

    &__logo {
        width: 17.1875rem;
        padding-left: 15px;
        color: #fff;
        background-color: #343957;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__content {
        display: flex;
        flex: 1;
        padding-top: 20px;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
    }
}
