.price-list-item {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D3D7E4;
    display: flex;
    &:last-child {
        border-bottom: none;
    }
    &__right {
        flex: 1;
        padding-left: 20px;
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 40px;
        }
    }
    &__icon {
        width: 39px;
    }
    &__price-wrap {

        @include media-breakpoint-up(md) {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        @include media-breakpoint-up(xxl) {
            width: 20%;
        }
    }
    &__price {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 17px;
        color: #FFFFFF;
        background-color: $orange-color;
    }
    &__logo {
        background: #FFFFFF;
        border-radius: 3.77119px;
        width: 89px;
        height: 89px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        @include media-breakpoint-up(md) {
            flex: 1;
        }
    }
    &__title {
        font-size: 17px;
        margin-bottom: 10px;
    }
    &__description {
        font-size: 15px;
        color: rgba(19, 19, 19, 0.75);
        &--big {
            font-weight: 700;
            font-size: 17px;
        }
    }
}
