.reviews-filters {

    @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        min-width: 280px;
        width:280px;
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
        &--last {
            @include media-breakpoint-up(md) {
                margin-left: 15px;
            }
        }
    }
}
